body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

.embed-responsive .card-img-top {
    object-fit: cover;
}

/* Imagen de cada necesidad */
.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: contain;
}

/* Confirmación de correo */
#confirm-title {
    text-align: center;
    background-color: orange;
    font-size: 45px;
}

#confirm-text {
    font-size: 15px;
}