@model DonacionesInsumosListViewModel

@{
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="alert alert-success text-center" role="alert">
            <strong>
                ¡Gracias por tu donación!<br />
                La hemos recibido exitosamente.
            </strong>
        </div>
    </div>
</div>