@model DonacionesInsumosListViewModel
@{
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Donacion Insumos</title>
</head>
<body>
    <div>
        <div id="message1">
            <div class="alert alert-success">
                <span class="glyphicon glyphicon-ok"></span><strong>
                    Gracias por tu donación!<br />
                    La recibimos exitosamente.
                </strong>
            </div>
        </div>

    </div>
</body>
</html>
