@model Repositorio.DonacionesInsumos
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Donacion</title>
</head>
<body>
    <div> 
        donacion pag incorrecta
    </div>
</body>
</html>
