@model AyudandoEnLaPandemia.ViewModels.MiPerfil.MiPerfilViewModel
@{
    ViewBag.Title = "MiPerfil";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card card-outline-secondary">
            <div class="card-header text-center">
                <h3 class="mb-0">Quienes somos</h3>
            </div>
            <div class="card-body">
                    <div class="form-group row">
                        <div class="col-lg-8 mx-auto">
                            <img src="~/Content/Tratamiento-de-donaciones-por-Pandemia-Covid19.jpg" class="avatar rounded-circle img-thumbnail mb-3" alt="">
                            <h6>Ayudando En La Pandemia</h6>

                            Desarrollamos Ayudando En La Pandemia en el año 2020 para ayudar a las organizaciones de América Latina
                            con una herramienta simple e intuitiva para recibir y procesar donaciones de forma segura,
                            agilizando sus procesos de recaudación de fondos individuales.
                            Somos una organización ampliamente reconocida por buscar el empoderamiento de otras organizaciones a
                            través de la tecnología y la innovación. Compañías de distintos rubros contribuyen con donaciones de todo
                            tipo para reducir la propagación del virus. Desde donaciones monetarias o insumos como máscaras, el envío de alimentos,
                            kits médicos y de limpieza a instituciones y zonas de mayor vulnerabilidad.

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>