@model HomeViewModel

<div>
    <div id="misNecesidades">
        <h2>Mis Necesidades</h2>
        @{
            Html.RenderPartial("~/Views/Shared/_necesidadPartial.cshtml", new NecesidadViewModel { Necesidades = Model.MisNecesidades });
        }
    </div>
    <div id="otrasNecesidades">
        <h2>Otras necesidades</h2>
        @{
            Html.RenderPartial("~/Views/Shared/_necesidadPartial.cshtml", new NecesidadViewModel { Necesidades = Model.Necesidades });
        }
    </div>

</div>