@model IndexViewModel

@{ 
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<body>
    <div class="loader"></div>
    <main id="main" role="main">
        <section class="jumbotron text-center" id="mainBanner">
            <div class="container">
                <h1 class="jumbotron-heading">Ayudando en la pandemia</h1>
                <p class="lead text-muted">
                    Acá podrás encontrar las necesidades de la sociedad en el contexto actual de la pandemia COVID-19.
                    Podrás crear una necesidad, votar o ayudar.
                </p>
            </div>
        </section>
        <div class="row">
            @{
                Html.RenderPartial("~/Views/Shared/_necesidadPartial.cshtml", new NecesidadViewModel { Necesidades = Model.TopNecesidades });
            }
        </div>
    </main>
</body>
