
@{
    ViewBag.Title = "Confirm";
}

<br />
<br />
<div class="alert alert-warning" id="previous">
    <strong>Confirm Your Account</strong>

    <a href="/Login/RegisterConfirm?IdUsuario=@ViewBag.IdUsuario">Aqui</a>
    <!--  <input type="submit" class="btn btn-warning" value="Confirm" onclick="Verified()" /> -->

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-warning">@ViewBag.Message</div>
    }
</div>
    <!--
    <script>
        function Verified() {
            $.ajax({
                type: "get",
                url: "/Login/RegisterConfirm",
                data: { 'IdUsuario': '@ViewBag.IdUsuario' },
                success: function (msg) {
                    $("#previous").hide();
                    $("#after").show();
                    alert(msg);
                }
            })
        }
    </script>-->

