
@{
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<br />
<br />
<div class="alert alert-warning" id="previous">
    <strong>Confirmación de cuenta</strong>

    <a href="/Login/RegisterConfirm?IdUsuario=@ViewBag.IdUsuario&Token=@ViewBag.Token">Click Aqui</a>

</div>
