
@{
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<br />
<br />
<div class="alert alert-warning" id="previous">
    <strong>Confirmación de cuenta</strong>

    <a href="/Login/RegisterConfirm?IdUsuario=@ViewBag.IdUsuario">Click Aqui</a>
    <!--  <input type="submit" class="btn btn-warning" value="Confirm" onclick="Verified()" /> -->

</div>
<script>

   if(@ViewBag.Message="OK")
   {
        $("#message1").show();
   };

</script>

