
@{
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div>
        <div>
            <div class="alert alert-success">
                <span class="glyphicon glyphicon-ok"></span><strong>
                    Bienvenido!<br />
                    Tu cuenta ha sigo activada correctamente.
                    Para iniciar sesión
                    <a href="/Login/LoginUsuario">Click Aqui</a>
                </strong>
            </div>
        </div>
    </div>
</body>
</html>
