
@{
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="alert alert-success text-center" role="alert">
                    <strong>
                        ¡Bienvenido!<br />
                        Tu cuenta ha sido activada correctamente.<br />
                        Para iniciar sesión <a href="/Login/LoginUsuario">Click Aquí</a>
                    </strong>
                </div>
            </div>
        </div>
    </div>
</body>
</html>