@model NecesidadViewModel

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="collection-heading">
                <span>Top 5 necesidades</span>
            </div>
        </div>
        @foreach (var necesidad in Model.Necesidades)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="@necesidad.Foto" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">
                            @Html.DisplayFor(Model => necesidad.Nombre)
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="@necesidad.IdNecesidad" type="button" class="btn btn-sm btn-outline-secondary">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
