@model NecesidadViewModel

@foreach (var necesidad in Model.Necesidades.Take(5))
{
    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <div class="embed-responsive embed-responsive-1by1">
                <img class="card-img-top embed-responsive-item p-2" src="@necesidad.UrlImagen" alt="">
            </div>
            <div class="card-body">
                <h4 class="card-title">@necesidad.Nombre</h4>
            </div>
            <ul class="list-group list-group-flush text-left">
                <li class="list-group-item">Usuario creador</li>
                <li class="list-group-item">Valoración actual de los usuarios</li>
                <li class="list-group-item">Fecha de creación</li>
            </ul>
            <div class="card-footer">
                <a href="@necesidad.LinkDetalle" class="btn btn-primary text-white">Ver más</a>
            </div>
        </div>
    </div>
}