@model TablaPartialViewModel

<div class="container">
    <div class="row text-center">
        <h3>@Model.TituloPagina</h3>
        <table class="table table-bordered table-responsive-md text-center">
            <thead class="thead-light">
                <tr>
                    @foreach (var titulo in Model.TitulosTabla)
                    {
                        <th>@Html.Raw(titulo)</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var contenido in Model.ContenidoTabla)
                {
                    <tr>
                        @foreach (var texto in contenido)
                        {
                            <td>@Html.Raw(texto)</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>