<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;">
        <b>Ayudando en la pandemia</b>
    </div>
    <div>
        <pre style="font-size:15px;">
            Gracias por registrarte, por favor verificar la dirección de email para completar el registro.
            Click<a href="@ViewBag.ConfirmationLink">Aqui</a>
        </pre>
    </div>
</body>
</html>

