<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="confirm-title">
        <b>Ayudando en la pandemia</b>
    </div>
    <div>
        <pre id="confirm-text">
            Gracias por registrarte. Por favor, verifica la dirección de email para completar el registro.
            Click <a href="@ViewBag.ConfirmationLink">Aquí</a>
        </pre>
    </div>
</body>
</html>